@model OnlineTests.Web.Models.EditQuestionModel

@{
    ViewBag.Title = "View Question";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/questionTypes/DragOrder-1.0.js"></script>
    }

<div class="container">
    <div  id="qOne">
        <!-- QUESTION AND ANSWER-->
        <div class="row">

            <!-- QUESTION -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Question Text - ID : @Model.QuestionId </div>
                    <div class="panel-body">
                       @Html.Raw(@Model.QuestionText)
                    </div>
                </div>

                 <!-- ANSWERS  -->
                <div class="panel panel-default">
                    <div class="panel-heading">Answers</div>
                    <div id="body-answer" class="panel-body"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    var globalSettings = @Html.Raw(Model.Settings);
    var globalQuestionId = @Model.QuestionId;
    var globalPageType = "View";
</script>