@model OnlineTests.Web.Models.EditQuestionModel

@{
    ViewBag.Title = "Edit Question";
}

@*<div class="container">
    <div  id="qEight" class="my-tab-center">*@
        @Html.Partial("DrawLinesInAChartPartial")
@*    </div>
</div>*@

<script>
    var globalSettings = @Html.Raw(Model.Settings);
    var globalQuestionId = @Model.QuestionId;
    var globalPageType = "Edit";
    $(function () {
        hfQBody.value = '@Html.Raw(@Model.QuestionText)';
        if (hfQBody.value != "") {
            $("#divQBody").html('@Html.Raw(@Model.QuestionText)')
        }
        $("#drawLinesInAChart_Notes").val("@Model.Notes");
        $("#worth").val("@Model.Worth");
    });

</script>
