@model OnlineTests.Web.Models.EditQuestionModel

@{
    ViewBag.Title = "Edit Question";
}

<div id="placeholders" style="display:none">
    <div id="movingPointsContainer"></div>
</div>

@*<div class="container">
    <div  id="qFour">*@
        @Html.Partial("MovePointsInAChartPartial")
@*    </div>
</div>*@

<script>
    var globalSettings = @Html.Raw(Model.Settings);
    var globalQuestionId = @Model.QuestionId;
    var globalPageType = "Edit";
    
    $(function () {
        hfQBody.value = '@Html.Raw(@Model.QuestionText)';
        if (hfQBody.value != "") {
            $("#divQBody").html('@Html.Raw(@Model.QuestionText)')
        }
        $("#movePointsInAChart_Notes").val("@Model.Notes");
        $("#worth").val("@Model.Worth");
        $("#movePointsInAChart_Function").val(globalSettings.grid.chartType).attr("selected", "selected");
      
     
    });
</script>

