@model OnlineTests.Web.Models.EditMDDImageQuestionModel

@{
    ViewBag.Title = "View Question";
}

@section scripts {
    <script src="~/Scripts/questionTypes/multipleDragAndDropImage.js"></script>
    }

<div class="container">
    <div  id="qSix" class="my-tab-center">
        <div class="row">

            <!-- QUESTIONS -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Question Text - ID : @Model.QuestionId </div>
                    <div class="panel-body">
                        @Html.Raw(@Model.QuestionText)
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <!-- ANSWERS  -->
                <div class="panel-body">
                    <div id="MultipleDragAndDropImageContainer">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Options</div>
                            <div class="panel panel-default divAnswerImages" id="MultipleDragAndDropImageAnswers">
                                <!-- create the images -->
                                @for (int i = 0; i < Model.AnswersList.Length; i++)
                                {
                                    if (Model.AnswersList[i].isCorrect != 1)
                                    {
                                        string divContainerAnswer = "divContainerAnwer" + i;
                                        <div class="qeditor-answer" draggable="true" id="@divContainerAnswer">
                                            <img class="thumb" draggable="false" src="@Model.AnswersList[i].imgData" title="@Model.AnswersList[i].imgName" id="@Model.AnswersList[i].imgName">
                                        </div>
                                    }
                                }
                            </div>
                            <div class="panel-heading panel-success">Answers</div>
                            <div class="panel panel-default divCorrectAnswerImages" id="MultipleDragAndDropImageCorrectAnswers">
                                <!-- create the images -->
                                @for (int i = 0; i < Model.AnswersList.Length; i++)
                                {
                                    if (Model.AnswersList[i].isCorrect == 1)
                                    {
                                        string divContainerCorrectAnswer = "divContainerCorrectAnwer" + i;
                                        <div class="qeditor-answer" draggable="true" id="@divContainerCorrectAnswer">
                                            <img class="thumb" draggable="false" src="@Model.AnswersList[i].imgData" title="@Model.AnswersList[i].imgName" id="@Model.AnswersList[i].imgName">
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div> <!-- END OF qSix -->
</div> <!-- END OF container -->